.container {
            display: flex;
            gap: 200px; 
            margin: 30px;
            align-items: flex-start;
        }

        
        .vertical {
            width: 300px;
            background-color: lightblue;
            border: 1px solid #ccc;
            
        }

        .vertical a {
            display: block;
            color: blue;
            padding: 12px;
            text-decoration: none;
            font-size: 20px;
        }

        .home{
            background-color: orange;
            color: white;
            font-weight: bold;
        }

        .horizontal {
            background-color: #ecede9;
            border: 1px solid rgb(232, 210, 210);
            display: flex;
        }

        .horizontal a {
            display: block;
            font-size: 20px;
            color: blue;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            border-right: 1px solid gray;
        }

        .horizontal a:last-child {
            border-right: none;
        }

        .home1 {
            background-color: rgb(203, 151, 151);
            color: white;
            font-weight: bold;
        }
        h1{
            text-align: center;
            color:rgb(95, 237, 29);
        }
        